* {
    /* outline: 1px solid tomato; */
}

.header_wrap {}

.header_wrap .header_top {
    position: relative;
    display: flex;
    justify-content: right;
}


.header_wrap h1 {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
}



.header_wrap .header_top .mobile {
    display: none;
}

.header_wrap .header_top ul {
    display: flex;
    padding: 52px 0;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
}

.header_wrap .header_top .icon {
    display: flex;
    gap: 20px;
    padding: 0 15px;
}


.header_wrap .header_top ul .xi-facebook {
    font-size: 20px;
}

.header_wrap .header_top ul .xi-instagram {
    font-size: 20px;
}

.header_wrap .header_top ul .xi-youtube-play {
    font-size: 20px;
}

.header_bottom {
    position: sticky;
    top: 0;
    z-index: 999;
    background: #600624;
}

.header_bottom .inner {
    position: relative;
    display: flex;
    justify-content: space-between;

    vertical-align: middle;
}

.header_bottom .inner {

    color: #fff;
}

.header_bottom .inner>* {
    padding: 12px 15px;
}

.header_bottom .inner i {
    color: #fff;
    font-size: 28px;
}

.header_bottom .gnb ul {
    position: absolute;
    display: flex;
    top: 0px;
    left: 50%;
    padding: 0px 0 0 0;
    transform: translate(-50%, 0);
    gap: 60px;
}

.header_bottom .gnb ul li {
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.header_bottom .inner form {
    position: relative;
    display: flex;
    align-items: center;

}

.header_bottom .inner input {
    padding-left: 10px;
    outline: none;
    background: #7A2E47;
    border-radius: 16px;
    color: #fff;
}


.header_bottom .inner span {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 20px;
    color: #fff;
}

@media (max-width: 768px) {
    .header_wrap {
        margin: 0 auto;
        background: #fff;
    }

    .header_wrap .header_top {

        position: fixed;
        display: flex;
        flex-direction: column;
        top: -4px;
        right: 100%;
        bottom: 0;
        justify-content: left;

        z-index: 1004;
    }

    .header_wrap .header_top.on {

        position: fixed;
        display: flex;
        flex-direction: column;
        top: -4px;
        left: 0;
        right: 60%;
        bottom: 0;
        justify-content: left;
        background: #fff;
        z-index: 1004;
    }


    .header_wrap h1 {
        display: none;
        position: absolute;
        padding: 40px 0;
        transform: translate(-50%, 0);
        text-align: center;
        width: 150px;
    }

    .header_wrap .header_top.on h1 {
        display: block;
    }



    .header_wrap .header_top .customer .mobile {
        position: absolute;
        display: block;
        top: 10px;
        left: calc(100% + 15px);

        font-size: 40px;
        background: #fff;
        line-height: 0;
        transform: translate(0, 0);
        z-index: 2000;
    }

    .header_wrap .header_top .customer .mobile.on {
        position: fixed;
        display: block;
        top: 15px;
        left: 40%;

        font-size: 40px;
        background: #fff;
        line-height: 0;
        transform: translate(-100%, 0);
    }

    .header_wrap .header_top.on .customer ul {
        display: flex;
        flex-direction: column;
    }

    .header_wrap .header_top .customer ul {
        display: none;
    }

    .header_wrap .header_top ul {
        display: flex;
        padding: 200px 0;
        font-weight: 800;
        font-size: 16px;
    }

    .header_wrap .header_top ul li {
        padding: 20px 0 0 0;
    }

    .header_wrap .header_top ul li~li {
        border-top: 1px solid #c4c4c4;
    }

    .header_wrap .header_top ul i {
        display: none;
        border: none;
    }


    .header_wrap .header_top ul .xi-facebook {
        font-size: 20px;
    }

    .header_wrap .header_top ul .xi-instagram {
        font-size: 20px;
    }

    .header_wrap .header_top ul .xi-youtube-play {
        font-size: 20px;
    }

    .header_bottom {
        display: none;
        position: sticky;
        top: 0;
        z-index: 999;
        background: #600624;
    }

    .header_bottom .inner {
        position: relative;
        display: flex;
        justify-content: space-between;

        vertical-align: middle;
    }

    .header_bottom .inner {

        color: #fff;
    }

    .header_bottom .inner>* {
        padding: 12px 15px;
    }

    .header_bottom .inner i {
        color: #fff;
        font-size: 28px;
    }

    .header_bottom .gnb ul {
        position: absolute;
        display: flex;
        top: 0px;
        left: 50%;
        padding: 0px 0 0 0;
        transform: translate(-50%, 0);
        gap: 60px;
    }

    .header_bottom .gnb ul li {
        padding: 20px 0;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
    }

    .header_bottom .inner form {
        position: relative;
        display: flex;
        align-items: center;

    }

    .header_bottom .inner input {
        padding-left: 10px;
        outline: none;
        background: #7A2E47;
        border-radius: 16px;
        color: #fff;
    }


    .header_bottom .inner span {
        position: absolute;
        top: 16px;
        right: 24px;
        font-size: 20px;
        color: #fff;
    }
}
.Tab_Menu {
    margin: 100px 0 85px 0;
    text-align: center;

    /* 건듬 */
}

.Tab_Menu .tit {
    position: relative;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.Tab_Menu .tit .sorting {
    position: absolute;
    display: flex;
    top: 15px;
    right: 15px;

    padding: 4px;
    font-size: 14px;
    line-height: 0;
    /* 건듬 */
}
.Tab_Menu .tit .sorting span {
    transform: translate(0 ,-50%);
}

.Tab_Menu .tit .sorting .sorting_base {
    position: absolute;
    display: none;
    top: 20px;
    gap: 10px;
    right: 0;
    width: 100px;
    height: 130px;
    z-index: 1010;
    background: #fff;
    border: 1px solid #c4c4c4;
}

.Tab_Menu .tit .sorting:hover .sorting_base {
    flex-direction: column;
    display: flex;
}

.Tab_Menu .tit .sorting .sorting_base li {
    font-size: 12px;
    padding: 12px 0;
}

.tab_wrap {
    padding: 15px 0;
    overflow: hidden;
}

.grid_wrap {
    margin: 0 0 20px 0;
}


.Tab_Menu .itm_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    gap: 40px;
    padding: 0 15px;
}

.Tab_Menu .itm_grid .tab {
    position: relative;

}

.Tab_Menu .itm_grid .tab .flag strong {
    display: block;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    padding: 8px 0 0 0;
}

.Tab_Menu .itm_grid .tab01 .flag {
    position: absolute;
    top: 0;
    right: 10px;


    width: 60px;
    height: 56px;
    box-sizing: content-box;
    padding-top: 15px;
    background: #5A0F24;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.Tab_Menu .itm_grid .tab01 .flag::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid #F2C862;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.Tab_Menu .itm_grid .tab02 {
    position: relative;

}

.Tab_Menu .itm_grid .tab02 .flag {
    position: absolute;
    top: 0;
    right: 10px;


    width: 60px;
    height: 56px;
    box-sizing: content-box;
    padding-top: 15px;
    background: #5A0F24;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.Tab_Menu .itm_grid .tab02 .flag::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid #F7E2AB;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.Tab_Menu .itm_grid .tab03 .flag {
    position: absolute;
    top: 0;
    right: 10px;


    width: 60px;
    height: 56px;
    box-sizing: content-box;
    padding-top: 15px;
    background: #5A0F24;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.Tab_Menu .itm_grid .tab03 .flag::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid #CD9876;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.Tab_Menu .itm_grid .tab04 .flag {
    position: absolute;
    top: 0;
    right: 10px;


    width: 60px;
    height: 56px;
    box-sizing: content-box;
    padding-top: 15px;
    background: #5A0F24;
    color: white;
    font-size: 11px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.Tab_Menu .itm_grid .tab04 .flag::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid #DDA185;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.Tab_Menu .itm_grid .tab .txt_box {
    position: absolute;
    display: block;
    bottom: -10px;
    width: 100%;
    height: 40%;
    padding: 16px 20px;
    background: #fff;
    text-align: left;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);

    transition: 0.5s;
    opacity: 0;
}

.Tab_Menu .itm_grid .tab:hover .txt_box {
    bottom: 0;
    opacity: 1;
}

.Tab_Menu .itm_grid .tab .txt_box strong {
    display: inline-block;
    margin: 0 0 16px 0;
    font-size: 0.833vw;
    font-weight: 500;
}

.Tab_Menu .itm_grid .tab .txt_box .sell_box {
    display: flex;
    justify-content: space-between;

}

.Tab_Menu .itm_grid .tab .txt_box .sell_box span {
    font-size: 1.042vw;
    font-weight: 600;
    word-spacing: -4px;
}

.Tab_Menu .itm_grid .tab .txt_box .sell_box i {
    font-size: 1.250vw;
}


.Tab_Menu .itm_grid01 {
    margin: 0 0 40px 0;
}


.Tab_Menu .itm_grid02 {}


@media (max-width: 768px) {
    .Tab_Menu {
        margin: 0 0 45px 0;
        text-align: center;
    }

    .Tab_Menu .tit {
        position: sticky;
        top: 0;
        margin: 0 auto;
        background: #fff;
        border-bottom: 1px solid #c9c9c9;
        z-index: 999;
    }

    .Tab_Menu .tit h2 {
        padding: 15px;
    }

    .Tab_Menu .tit .fade {
        position: absolute;
        top: 15px;
        right: 15px;

        padding: 4px;
        font-size: 20px;
        border: 2px solid #ddd;
        color: #ddd;
        line-height: 0;
    }


    .tab_wrap {
        padding: 15px 0;
        overflow: hidden;
    }

    .grid_wrap {
        margin: 0 0 5px 0;
    }


    .Tab_Menu .itm_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        gap: 40px;
        padding: 0 15px;
    }

    .Tab_Menu .itm_grid .tab {
        position: relative;

    }

    .Tab_Menu .itm_grid .tab .flag {
        position: absolute;
        top: 0;
        right: 10px;


        width: 80px;
        height: 64px;
        box-sizing: content-box;
        padding-top: 15px;
        background: #5A0F24;
        color: white;
        font-size: 11px;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
    }

    .Tab_Menu .itm_grid .tab .flag strong {
        display: block;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: -1px;
        text-align: center;
        padding: 8px 0 0 0;
    }



    .Tab_Menu .itm_grid .tab01 .flag::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 20px solid #F2C862;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
    }

    .Tab_Menu .itm_grid .tab02 {
        position: relative;

    }

    .Tab_Menu .itm_grid .tab02 .flag {
        position: absolute;
        background: #5A0F24;
        color: white;
    }

    .Tab_Menu .itm_grid .tab02 .flag::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 20px solid #F7E2AB;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
    }

    .Tab_Menu .itm_grid .tab03 .flag {
        position: absolute;
        background: #5A0F24;
        color: white;
    }

    .Tab_Menu .itm_grid .tab03 .flag::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 20px solid #CD9876;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
    }

    .Tab_Menu .itm_grid .tab04 .flag {
        position: absolute;
        background: #5A0F24;
        color: white;
    }

    .Tab_Menu .itm_grid .tab04 .flag::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 20px solid #DDA185;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
    }

    .Tab_Menu .itm_grid .tab .txt_box {
        position: absolute;
        display: block;
        bottom: -10px;
        width: 100%;
        height: 30%;
        padding: 16px 20px;
        background: #fff;
        text-align: left;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);

        transition: 0.5s;
        opacity: 0;
    }

    .Tab_Menu .itm_grid .tab:hover .txt_box {
        bottom: 0;
        opacity: 1;
    }

    .Tab_Menu .itm_grid .tab:hover .txt_box03 .sell_box {}

    .Tab_Menu .itm_grid .tab .txt_box strong {
        display: inline-block;
        margin: 0 0 16px 0;
        font-size: 16px;
        font-weight: 500;
    }
    .Tab_Menu .itm_grid .tab .txt_box02 strong {
        display: inline-block;
        margin: 0 0 28px 0;
        font-size: 16px;
        font-weight: 500;
    }

    .Tab_Menu .itm_grid .tab .txt_box03 strong {
        display: inline-block;
        margin: 0 0 16px 0;
        font-size: 16px;
        font-weight: 500;
    }

    .Tab_Menu .itm_grid .tab .txt_box04 strong {
        display: inline-block;
        margin: 0 0 16px 0;
        font-size: 16px;
        font-weight: 500;
    }

    .Tab_Menu .itm_grid .tab .txt_box .sell_box {
        display: flex;
        justify-content: space-between;
        padding: 0 0 8px 0;
    }

    .Tab_Menu .itm_grid .tab .txt_box .sell_box span {
        font-size: 20px;
        font-weight: 600;
        word-spacing: -4px;
    }

    .Tab_Menu .itm_grid .tab .txt_box .sell_box i {
        font-size: 24px;
    }


    .Tab_Menu .itm_grid01 {
        margin: 0 0 40px 0;
    }
}